#spin {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    
}

body{
    background-color: #59656F;
}

.table {
    align-content: center;
    margin: 0 auto;
    
}

#spin {
    color:  rgb(235, 230, 230);
}

#table {
    padding-top: 20px;
    
}

.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}

h1 {
font-size: 90px;
}

h3{
    color: rgb(235, 230, 230);
}
.border {
    border: 1px solid #264653;
    padding: 10px;
    margin: 20px;
    background-color: #264653;
    box-shadow: -10px 10px 5px #555555;
}

footer {
    background-color: #264653;
    color: rgb(235, 230, 230);
}

#location {
    font-size: 50px;
}

.hide {
    display: none;
}

#select {
    padding: 0px 90px 0px 50px;
}

#dates {
    padding: 35px 0px 0px 10px;
}

header {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    padding: 30px;
    background-color: #264653;
    color: rgb(235, 230, 230);
    width: 100%;
    border: 2px solid rgb(235, 230, 230);;
}

body {
    margin: 0 auto;
    text-align: center;
}

.btn {
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
}

.break {
    border-bottom: 2px solid #264653;
}

#dropdownMenuButton {
    margin-top: 30px;
}